@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "normalize.css";

* {
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.container h1{
    text-align: center
}
.container h1 img{
    width: auto;
}
.container h1 span{
    display: none
}

main article {
    margin-bottom: 40px;
}

main h2{
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
}

@media (min-width: 500px) {
    article{
        max-width: 300px;
        margin-right: 20px;
        float: left;
    }
}